@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1> Posts Index </h1>
    <p>
        <a href= "@Url.RouteUrl("login")" > Click HJere </a> to login!
    </p>
    <p>
        @Html.RouteLink("Click Here", "login") to login!
    </p>

</body>
</html>
